/auto-save-list/.saves-17127-selwyn~
/auto-save-list/.saves-19158-selwyn~
/auto-save-list/.saves-2841-selwyn~
/auto-save-list/.saves-27348-selwyn~
/auto-save-list/.saves-30566-selwyn~
/auto-save-list/.saves-6621-selwyn~
/background.png
